In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('matrix.xlsx')

In [10]:
types_ = ['Satellite',
 'Spacecraft',
 'Joint venture',
 'Satellite',
 'Missile',
 'Satellite',
 'Airline',
 'Satellite',
 'Fighter Aircraft',
 'Satellite',
 'Satellite',
 'Space program',
 'Spacecraft',
 'Space station',
 'Spaceflight company',
 'Spacecraft',
 'Satellite',
 'Space station',
 'Missile',
 'Satellite',
 'Airline',
 'Satellite',
 'Airline',
 'Satellite',
 'Space program',
 'Airline']

In [19]:
nodes_p = pd.DataFrame({'programms': df.columns.to_list()[1:], 'typess': types_}).sort_values('typess')

In [20]:
companies = df['Орг\Тех']

In [21]:
countries = [
 'USA',
 'USA',
 'USA',
 'USA',
 'Italy',
 'USA',
 'France',
 'Italy',
 'USA',
 'USA',
 'USA',
 'India',
 'Russia',
 'USA',
 'USA',
 'UK',
 'USA',
 'USA',
 'USA',
 'UK',
 'France',
 'Switzerland',
 'USA',
 'USA',
 'Japan']

In [23]:
nodes_c = pd.DataFrame({'company':companies, 'country':countries}).sort_values('country')

In [24]:
edges = pd.melt(df, id_vars=['Орг\Тех'], value_vars=df.columns.to_list()[1:])

In [25]:
edges = edges[edges['value']>0].sort_values('Орг\Тех').reset_index().drop('index', axis=1)

In [27]:
edges.rename(columns = {'Орг\Тех':'company', 'variable':'programms'}, inplace = True)

In [28]:
edges

                              company               programms  value
0    Armstrong Flight Research Center         United Airlines    1.0
1    Armstrong Flight Research Center     Mitsubishi A6M Zero    1.0
2    Armstrong Flight Research Center              Everts Air    1.0
3                         Blue Origin                  OneWeb    2.0
4                         Blue Origin                Starlink    1.0
..                                ...                     ...    ...
98             United Launch Alliance                 Jason-3    1.0
99             United Launch Alliance                  OneWeb    1.0
100                   Virgin Galactic  United Launch Alliance    1.0
101                   Virgin Galactic         United Airlines    1.0
102                   Virgin Galactic         Virgin Galactic    1.0

[103 rows x 3 columns]

In [60]:
grouped_nodes_c = nodes_c.groupby('country').count().reset_index().sort_values(by='country')
grouped_nodes_c['company_cums'] = grouped_nodes_c['company'].cumsum() - grouped_nodes_c['company']
grouped_nodes_c['colors'] = ['#16302B', '#694873', '#85B79D', '#E53504', '#1D8DCA', '#EF9710', '#EF9710', '#5B4591']
grouped_nodes_c.to_csv('countrycount.csv', index=False)

In [59]:
grouped_nodes_e = nodes_p.groupby('type').count().reset_index().sort_values(by='type')
grouped_nodes_e['programms_cums'] = grouped_nodes_e['programms'].cumsum() - grouped_nodes_e['programms']
grouped_nodes_e['colors'] = ['#16302B', '#694873', '#85B79D', '#E53504', '#1D8DCA', '#EF9710', '#B09398', '#5B4591', '#60E200']
grouped_nodes_e.to_csv('typecount.csv', index=False)

In [66]:
dict_c = dict(zip(grouped_nodes_c['country'], grouped_nodes_c['colors']))

In [68]:
dict_p = dict(zip(grouped_nodes_e['typess'], grouped_nodes_e['colors']))

In [69]:
nodes_c['colors'] = [dict_c[i] for i in nodes_c['country']]
nodes_p['colors'] = [dict_p[i] for i in nodes_p['typess']]

In [72]:
edges.to_csv('edgelist.csv', index=False)
nodes_c.to_csv('nodelist.csv', index=False)
nodes_p.to_csv('edge-node.csv', index=False)